.features {
	display: flex;
	align-items: center;
	padding: 0 0 5rem;
	width: 100%;
}

.featureSvg {
	height: 373px;
	width: 373px;
}
.linkColor,
.linkColor:hover,
.linkColor:focus {
	color: var(--ifm-color-link-color);
	text-decoration: none;
}
